* {
  Box-sizing: border-box;
  Padding: 0 ;
  Margin: 0;
  Max-width: 100%;
}
.top-class {
  display: flex;
}
.logo {
  margin-top: 15px;
  margin-left: 10px;
  width: 100%;
}
@media (max-width: 500px) {
  .logo img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 800px) {
  .logo img {
    margin-left: 15px;
  }
}
img {
  width: 100%;
}
nav a {
  text-decoration: none;
  color: gray;
  font-size: 20px;
  margin-right: 6px;
  margin-left: 15px;
}
@media (max-width: 800px) {
  nav a {
    text-align: center;
  }
}
.navigation {
  margin-top: 5px;
  margin-left: 60%;
  padding: 20px;
  padding-left: 5px;
}
@media (max-width: 800px) {
  .navigation nav {
    display: flex;
  }
}
.purpose h1 {
  font-size: 48px;
  color: #42403D;
  margin-top: 50px;
}
@media (max-width: 800px) {
  .purpose h1 {
    font-size: 35px;
    text-align: center;
  }
}
.purpose p {
  font-size: 20px;
  margin-top: 35px;
}
@media (max-width: 800px) {
  .purpose p {
    font-size: 16px;
    text-align: center;
    margin-right: 7%;
  }
}
.chef-logo img {
  width: 100%;
  padding-bottom: 10%;
}
.main-page {
  display: flex;
}
.buttons {
  margin-top: 20%;
  align-items: center;
}
@media (max-width: 800px) {
  .buttons {
    display: flex;
    flex-direction: column;
  }
}
.buttons a {
  text-decoration: none;
}
.buttons .swap {
  background: var(--bg-color);
  color: var(--fg-color);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.buttons .swap:hover,
.buttons .swap:focus {
  background: var(--fg-color);
  color: var(--bg-color);
  box-shadow: 0 0 8px 2px var(--fg-color);
}
.sign-up {
  --bg-color: #D81E05;
  --fg-color: #42403D;
  margin-top: 20%;
  background: #D81E05;
  border-radius: 12px;
  width: 50%;
  padding: 14px 40px;
  font-size: 18px;
  color: black;
}
@media (max-width: 800px) {
  .sign-up {
    padding: 5px 30px;
  }
}
@media (max-width: 500px) {
  .sign-up {
    padding: 1px 30px;
  }
}
.learn-more {
  --bg-color: #42403D;
  --fg-color: #AFEEEE;
  background: #DCDCDC;
  color: #D81E05;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 50%;
  font-size: 18px;
  border-radius: 12px;
  padding: 14px 40px;
}
@media (max-width: 800px) {
  .learn-more {
    padding: 5px 30px;
  }
}
@media (max-width: 500px) {
  .learn-more {
    padding: 1px 30px;
  }
}
